.App {
  text-align: center; /*conteudo centralizado */
}

nav a{ /*Dentro da tag "nav" tem a tag "a"*/
  color: #036c5f;
  display: inline-block; 
  margin:  0 10px;
}
nav a:hover{
  text-decoration: none ;/*Efeito de passar o cursor do mouse e tirar o sublinhado*/
} 
